<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The website of writer Meghan Guidry.">
    <meta name="keywords" content="Meghan, Guidry, poetry, boston, massachusetts, harvard, divinity">
    <meta name="author" content="Michael Berkowitz">

    <title>Meghan S Guidry</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="name">Meghan Guidry</h1>
        <h4>poet. essayist. librettist.</h4>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
