<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The website of writer Meghan Guidry.">
    <meta name="keywords" content="Meghan, Guidry, poetry, boston, massachusetts, harvard, divinity">
    <meta name="author" content="Michael Berkowitz">

    <title>Meghan S Guidry</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="name">Meghan Guidry</h1>
        <h4>poet. essayist. librettist.</h4>
      </header>
      <div class="row">
        <div class="col-sm-12">
          <div class="headshot">
            <img src="images/guidry.jpg"/>
          </div>
        </div>
      </div>

      <hr/>
      <header class="header">
        <nav role="navigation">
          <div class="row nav-link text-center">
            <div class="col-xs-3 col-xs-6">
              News
            </div>
            <div class="col-xs-3 col-xs-6">
              About
            </div>
            <div class="col-xs-3 col-xs-6">
              Works
            </div>
            <div class="col-xs-3 col-xs-6">
              Contact
            </div>
          </div>
        </nav>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
