body {
  background-color: #f8f8ff;
  color: #112;
}

.name {
  color: #700;
}

.headshot {
  text-align: center;
  img {
    max-width: 90%;
    display: inline-block;
    padding-top: 0em;
  }
}

header.header {
  margin-bottom: 30px;
}

.social {
  font-size: 1.5em;

  i.fa {
    padding: 10px 20px 0;
  }
}
