body {
  background-color: #f8f8ff;
  color: #112;
}

.name {
  color: #700;
}

.headshot {
  text-align: center;
  img {
    max-width: 80%;
    display: inline-block;
    padding: 1em 0;
  }
}

header.header {
  margin-bottom: 10px;
}

.social {
  font-size: 1.5em;

  i.fa {
    padding: 10px 20px 0;
  }
}

nav {
  .row.nav-link {
    padding: 5px;
    padding-bottom: 10px;
  }
}
