<div class="row">
  <div class="col-sm-12">
    <div class="headshot">
      <img src="images/guidry.jpg"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">
      Mourning the Unknowable, Harvard Divinity Bulletin
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="text-center">
      Join Meghan's Mailing List!
    </h3>
  </div>
</div>
